*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
   font-size: 1.5rem;
   font-family: 'Overpass', sans-serif;
   background:hsl(240, 9%, 7%);
}

.hidden{
    display: none;
}

.container{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}
/*              Rating card page design             */
.rating-card,
.thank-you-card{
    color: hsl(0, 0%, 100%);
    width: 400px;
    height: 360px;
    background: linear-gradient(hsl(213, 19%, 18%), hsl(216, 12%, 8%));
    padding: 1.5em;
    border-radius: 1em;
}

.star-icon{
    width: 4rem;
    height: 4rem;
    border: none;
    border-radius: 50%;
    background-color: hsl(218, 22%, 21%);
}

.rating-card h2{
    font-size: 3.5rem;
    margin-block: .5em;
}

.rating-card p{
    color: hsl(216, 12%, 54%);
}

.rating-buttons{
    margin-block: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.value-button{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    color: hsl(216, 12%, 54%);
    background-color: hsl(218, 22%, 21%);
}

.value-button:hover{
    background: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.value-button.active{  /*button with class active*/
    background: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
}

.submit-button{
    width: 100%;
    height: 4rem;
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    border-radius: 100px;
    background-color: hsl(25, 97%, 53%);
}

.submit-button:hover{
    color: hsl(25, 97%, 53%);
    background: hsl(0, 0%, 100%);
}
/*          end of rating card design*/



/*             Thank you card design */

.thank-you-card{
    text-align: center;
    padding-block: 3em;
    padding-inline: 2em;
}

.rate-info{
    color: hsl(25, 97%, 53%);
    background: hsl(218, 22%, 21%);
    border: 1px solid hsl(218, 22%, 21%);
    border-radius: 100px;
    padding: .25em 2em;
    width: fit-content;
    margin: 1em auto;
}

.thank-you-card > h1 + p {
    margin-top: 1em;
    line-height: 1.5;
    color: hsl(216, 12%, 54%);
}